<!DOCTYPE html>
<html lang="en">

<head>
	<title>Results</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<script>
		var app = angular.module('myApp', []);
		app.controller('customersCtrl', function($scope, $http) {
			$http.get("data.php")
			.then(function(response) {
				$scope.names = response.data.records;
				$scope.types = [...new Set($scope.names.map(v => v.What))];
				$scope.dates = [...new Set($scope.names.map(v => v.Date))];
				console.log($scope.names);
			});
		});
	</script>
	<div class="container">
		<div ng-app="myApp" ng-controller="customersCtrl">
			<h2>Results</h2>
			<div ng-repeat="(key, value) in types">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#typeOfProduct{{key}}" href="#typeOfProduct{{key}}">{{value}}</a>
						</h4>
					</div>
					<div class="panel-collapse collapse" id="typeOfProduct{{key}}">
						<div class="panel-heading">
							<div class="panel-body">
								<div class="panel-group" id="accordion2">
									<div ng-repeat="(dataKey, dataValue) in dates">
										<div class="panel">
											<a data-toggle="collapse" data-parent="#tableOfProducts{{key}}{{dataKey}}" href="#tableOfProducts{{key}}{{dataKey}}">{{dataValue}}</a>
										</div>
										<div class="panel-collapse collapse" id="tableOfProducts{{key}}{{dataKey}}">
											<table class="table">
												<tr>
													<th>
														№
													</th>
													<th>
														Цена
													</th>
												</tr>
												<tr ng-repeat="x in names">
													<td>{{ x.Id }}</td>
													<td>{{ x.Price }}</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>